        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-accordion-nav
        data-highlight-active>
        <li><a href="#!/dashboard"><i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span data-translate="DASHBOARD"></span> </a></li>
        <li>
            <a href="#!/ui"><i class="fa fa-magic"><span class="icon-bg bg-orange"></span></i><span data-translate="UI_KIT"></span></a>
            <ul>
                <li><a href="#!/ui/buttons"><i class="fa fa-circle"></i><span data-translate="BUTTONS"></span></a></li>
                <li><a href="#!/ui/typography"><i class="fa fa-circle"></i><span data-translate="TYPOGRAPHY"></span></a></li>
                <li><a href="#!/ui/icons"><i class="fa fa-circle"></i><span data-translate="ICONS"></span> <span class="badge badge-info">2</span></a></li>
                <li><a href="#!/ui/components"><i class="fa fa-circle"></i><span data-translate="COMPONENTS"></span> <span class="badge badge-danger">18</span></a></li>
                <li><a href="#!/ui/widgets"><i class="fa fa-circle"></i><span data-translate="WIDGETS"></span> <span class="badge badge-success">12</span></a></li>
                <li><a href="#!/ui/timeline"><i class="fa fa-circle"></i><span data-translate="TIMELINE"></span></a></li>
                <li><a href="#!/ui/pricing-tables"><i class="fa fa-circle"></i><span data-translate="PRICING_TABLES"></span></a></li>
                <li><a href="#!/ui/grids"><i class="fa fa-circle"></i><span data-translate="GRIDS"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#!/page"><i class="fa fa-file-text-o"><span class="icon-bg bg-warning"></span></i><span data-translate="PAGES"></span></a>
            <ul>
                <li><a href="#!/page/signin"><i class="fa fa-circle"></i><span data-translate="SIGN_IN"></span></a></li>
                <li><a href="#!/page/signup"><i class="fa fa-circle"></i><span data-translate="SIGN_UP"></span></a></li>
                <li><a href="#!/page/forgot-password"><i class="fa fa-circle"></i><span data-translate="FORGOT_PASSWORD"></span></a></li>
                <li><a href="#!/page/lock-screen"><i class="fa fa-circle"></i><span data-translate="LOCK_SCREEN"></span></a></li>
                <li><a href="#!/page/profile"><i class="fa fa-circle"></i><span data-translate="USER_PROFILE"></span></a></li>
                <li><a href="#!/page/404"><i class="fa fa-circle"></i>404 <span data-translate="ERROR"></span></a></li>
                <li><a href="#!/page/500"><i class="fa fa-circle"></i>500 <span data-translate="ERROR"></span></a></li>
                <li><a href="#!/page/invoice"><i class="fa fa-circle"></i><span data-translate="INVOICE"></span></a></li>
                <li><a href="#!/page/blank"><i class="fa fa-circle"></i><span data-translate="BLANK_PAGE"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#!/table"><i class="fa fa-table"><span class="icon-bg bg-success"></span></i><span data-translate="TABLES"></span></a>
            <ul>
                <li><a href="#!/table/static"><i class="fa fa-circle"></i><span data-translate="STATIC_TABLES"></span></a></li>
                <li><a href="#!/table/responsive"><i class="fa fa-circle"></i><span data-translate="RESPONSIVE_TABLES"></span> <span class="badge badge-info">2</span></a></li>
                <li><a href="#!/table/dynamic"><i class="fa fa-circle"></i><span data-translate="DYNAMIC_TABLES"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#!/form"><i class="fa fa-pencil"><span class="icon-bg bg-primary-light"></span></i><span data-translate="FORMS"></span></a>
            <ul>
                <li><a href="#!/form/layouts"><i class="fa fa-circle"></i><span data-translate="FORM_LAYOUTS"></span></a></li>
                <li><a href="#!/form/elements"><i class="fa fa-circle"></i><span data-translate="FORM_ELEMENTS"></span> <span class="badge badge-info">13</span></a></li>
                <li><a href="#!/form/validation"><i class="fa fa-circle"></i><span data-translate="FORM_VALIDATION"></span></a></li>
                <li><a href="#!/form/wizard"><i class="fa fa-circle"></i><span data-translate="FORM_WIZARD"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#!/chart"><i class="fa fa-bar-chart-o"><span class="icon-bg bg-primary"></span></i><span data-translate="CHARTS"></span></a>
            <ul>
                <li><a href="#!/chart/echarts-line"><i class="fa fa-circle"></i><span data-translate="LINE"></span></a></li>
                <li><a href="#!/chart/echarts-bar"><i class="fa fa-circle"></i><span data-translate="BAR"></span></a></li>
                <li><a href="#!/chart/echarts-pie"><i class="fa fa-circle"></i><span data-translate="PIE"></span></a></li>
                <li><a href="#!/chart/echarts-scatter"><i class="fa fa-circle"></i><span data-translate="SCATTER"></span></a></li>
                <li><a href="#!/chart/echarts-more"><i class="fa fa-circle"></i><span data-translate="MORE"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#!/app"><i class="fa fa-tasks"><span class="icon-bg bg-violet"></span></i><span data-translate="APPLICATION"></span></a>
            <ul>
                <li><a href="#!/app/tasks"><i class="fa fa-circle"></i><span data-translate="TASKS"></span></a></li>
                <li><a href="#!/app/calendar"><i class="fa fa-circle"></i><span data-translate="CALENDAR"></span></a></li>
                <li>
                    <a href="#!/app/mail"><i class="fa fa-circle"></i><span data-translate="MAIL"></span></a>
                    <ul>
                        <li><a href="#!/app/mail/inbox"><i class="fa fa-caret-right"></i><span data-translate="INBOX"></span></a></li>
                        <li><a href="#!/app/mail/compose"><i class="fa fa-caret-right"></i><span data-translate="COMPOSE"></span></a></li>
                        <li><a href="#!/app/mail/single"><i class="fa fa-caret-right"></i><span data-translate="SINGLE_MAIL"></span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>